<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>SUST KROY BIKROY</title>
  </head>
  <body>
    <header class="header">
      <a class="website-name" href="#">
        <div class="name1">SUST</div>
        <div class="name2">KROY BIKROY</div>
      </a>

      <nav class="main-nav">
        <div class="search-box">
          <ion-icon class="search-icon" name="search"></ion-icon>
        </div>

        <ion-icon class="icons" name="notifications-outline"></ion-icon>

        <% if(user) { %>
        <a href="/profile"><ion-icon class="icons" name="person"></ion-icon></a>

        <!-- <li><button type="button" class="btn btn-danger"><a href="/auth/logout">Logout</a></button></li> -->
        <% } else { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <% } %>
        <!-- <ion-icon class="icons" name="person"></ion-icon> -->
      </nav>
    </header>

    <main>
      <section class="category">
        <li class="category-list">Furnitures</li>
        <li class="category-list">Electronics</li>
        <li class="category-list">House-holds</li>
        <li class="category-list">Vehicles</li>
        <li class="category-list">Mess</li>
        <li class="category-list">More</li>
      </section>

      <section class="section-hero">
        <div class="hero">
          <img class="sust-img" src="/images/sust.jpg" />
          <div class="text1">Sustians!</div>
          <div class="text2">Find Second Hand Goods in Just One Search...</div>
        </div>
      </section>
      <div class="void"></div>

      <section class="recent-products">
        <h1 class="recent-product-title">Most Recent Products</h1>
        <hr />
        <div class="container grid--3-cols">
          <% recentProducts.forEach(function(product){ %>
          <a href="/product/<%= product.product_id %>"
            ><div class="products">
              <img class="product-img" src="/images/watch.jpg" />
              <div class="price-container">
                <h1 class="product-name"><%= product.product_name %></h1>
                <h1 class="product-price">Tk. <%= product.price %></h1>
              </div>
            </div>
          </a>
          <% }) %>
        </div>
      </section>
      <a href="#" class="anchor"><h2 class="showMore">Show more...</h2></a>
      <div class="void"></div>

      <section class="recent-products">
        <h1 class="recent-product-title">Most Recent Mess Posts</h1>
        <hr />
        <div class="container grid--3-cols">
          <% recentMess.forEach(function(mess){ %>
          <a href="/mess/<%= mess.mess_id %>">
            <div class="products">
              <img class="product-img" src="/images/mess.jpg" />
              <div class="price-container">
                <h1 class="product-name"><%= mess.details %></h1>
                <h1 class="product-price">Tk. <%= mess.total_fee %></h1>
              </div>
            </div>
          </a>
          <% }) %>
        </div>
      </section>
      <a href="#" class="anchor"><h2 class="showMore">Show more...</h2></a>
      <div class="void"></div>
      <section class="containerr grid--4-cols">
        <div class="feature">
          <ion-icon
            class="feature-icon"
            name="notifications-outline"
          ></ion-icon>
          <p class="feature-title">Lorem ipsum</p>
          <p class="feature-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
            fugit dolores impedit veritatis deserunt labore asperiores dolorem.
          </p>
        </div>
        <div class="feature">
          <ion-icon
            class="feature-icon"
            name="notifications-outline"
          ></ion-icon>
          <p class="feature-title">Lorem ipsum</p>
          <p class="feature-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
            fugit dolores impedit veritatis deserunt labore asperiores dolorem.
          </p>
        </div>
        <div class="feature">
          <ion-icon
            class="feature-icon"
            name="notifications-outline"
          ></ion-icon>
          <p class="feature-title">Lorem ipsum</p>
          <p class="feature-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
            fugit dolores impedit veritatis deserunt labore asperiores dolorem.
          </p>
        </div>
        <div class="feature">
          <ion-icon
            class="feature-icon"
            name="notifications-outline"
          ></ion-icon>
          <p class="feature-title">Lorem ipsum</p>
          <p class="feature-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
            fugit dolores impedit veritatis deserunt labore asperiores dolorem.
          </p>
        </div>
      </section>
      <div class="voidd"></div>
      <footer class="footer">
        <div class="containerrr grid--4-cols">
          <div class="grid">
            <a class="website-name footer-title" href="#">
              <div class="name1">SUST</div>
              <div class="name2">KROY BIKROY</div>
            </a>
            <p class="copyright">Copyright 2022 by SUST KROY BIKROY,</p>
            <p class="copyright">All rights reserved.</p>
          </div>

          <div class="grid">
            <div class="title">Contact us</div>
            <div class="footer-text">Sylhet,Bangladesh</div>
            <div class="footer-text">011111111111</div>
            <div class="footer-text">sustkroybikroy@gmail.com</div>
          </div>

          <div class="grid">
            <div class="title">Account</div>
            <div class="footer-text">Sign in</div>
            <div class="footer-text">Create account</div>
            <div class="footer-text">Android app</div>
            <div class="footer-text">IOS app</div>
          </div>

          <div class="grid">
            <div class="title">Information</div>
            <div class="footer-text">About us</div>
            <div class="footer-text">Privacy & terms</div>
            <div class="footer-text">Help center</div>
          </div>
        </div>
      </footer>
    </main>

    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  </body>
</html>
