<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/productStyle.css" />
    <title>PRODUCT</title>
  </head>
  <body>
    <header class="header">
      <a class="website-name" href="/">
        <div class="name1">SUST</div>
        <div class="name2">KROY BIKROY</div>
      </a>

      <nav class="main-nav">
        <div class="search-box">
          <ion-icon class="search-icon" name="search"></ion-icon>
        </div>

        <ion-icon class="icons" name="notifications-outline"></ion-icon>
        <ion-icon class="icons" name="person"></ion-icon>
      </nav>
    </header>

    <main>
      <section class="category">
        <li class="category-list">Furnitures</li>
        <li class="category-list">Electronics</li>
        <li class="category-list">House-holds</li>
        <li class="category-list">Vehicles</li>
        <li class="category-list">Mess</li>
        <li class="category-list">More</li>
      </section>

      <section class="route">
        <p class="route-description">Home > Product > Product</p>
      </section>

      <section class="grid">
        <container class="grid--2-cols">
          <div>
            <img class="product-img" src="/images/watch.jpg" />
            <div class="images">
              <img class="img1" src="/images/watch.jpg" />
              <img class="img" src="/images/watch.jpg" />
            </div>
          </div>
          <div>
            <p class="product-title"><%= data.product_name %></p>
            <p class="product-price">Tk.<%= data.price %></p>
            <p class="void"></p>
            <p></p>
            <p class="product-description">
              <%= data.details %>
            </p>

            <p class="product-used-date">Buying Date: <%= data.bought_at %></p>
            <p class="warranty">Warranty Card Available: Yes</p>
            <p class="defects">Defects: Nothing</p>
            <p class="product-delivery-place">Delivery Place: <%= data.receiving_address %></p>
            <p class="product-contact-info">Contact Info: <%= data.contact_info %></p>
            <div class="chat-now-box">
              <a href="#" class="anchor"><p class="chat">CHAT</p></a>
            </div>
            <div class="buy-now-box">
              <a class = "anchor" href="#"><p class="buy">BUY IT NOW</p></a>
            </div>
          </div>
        </container>
      </section>
      <section class="suggestion">
        <p class="suggestion-text">You May Also Like</p>
        <div class="grid--4-cols">
          <% suggestedProducts.forEach(function(product){ %>
            <a href="/product/<%= product.product_id %>" class="sug_anchor"><div class="sug_products">
              <img class="sug_product-img"  src="/images/watch.jpg">
              <div class="sug_price-container">
                <h1 class="sug_product-name"><%= product.product_name %></h1>
                <h1 class="sug_product-price"><span>Tk. </span><%= product.price %></h1>
              </div>
            </div></a>
          <% })  %>


          <!-- <a href="/product" class="sug_anchor"><div class="sug_products">
            <img class="sug_product-img"  src="/images/watch.jpg">
            <div class="sug_price-container">
              <h1 class="sug_product-name">Men Wrist Watch</h1>
              <h1 class="sug_product-price">Tk.1500</h1>
            </div>
          </div></a>
          <a href="/product" class="sug_anchor"><div class="sug_products">
            <img class="sug_product-img"  src="/images/watch.jpg">
            <div class="sug_price-container">
              <h1 class="sug_product-name">Men Wrist Watch</h1>
              <h1 class="sug_product-price">Tk.1500</h1>
            </div>
          </div></a>
          <a href="/product" class="sug_anchor"><div class="sug_products">
            <img class="sug_product-img"  src="/images/watch.jpg">
            <div class="sug_price-container">
              <h1 class="sug_product-name">Men Wrist Watch</h1>
              <h1 class="sug_product-price">Tk.1500</h1>
            </div>
          </div></a>
          <a href="/product" class="sug_anchor"><div class="sug_products">
            <img class="sug_product-img"  src="/images/watch.jpg">
            <div class="sug_price-container">
              <h1 class="sug_product-name">Men Wrist Watch</h1>
              <h1 class="sug_product-price">Tk.1500</h1>
            </div>
          </div></a> -->
        </div>
      </section>
      <footer class="footer">
        <div class="containerrr footer-grid--4-cols">
          <div class="footer-grid">
            <a class="website-name footer-title" href="#">
              <div class="name1">SUST</div>
              <div class="name2">KROY BIKROY</div>
            </a>
            <p class="copyright">Copyright 2022 by SUST KROY BIKROY,</p>
            <p class="copyright">All rights reserved.</p>
          </div>


          <div class="footer-grid">
            <div class="title">Contact us</div>
            <div class="footer-text">Sylhet,Bangladesh</div>
            <div class="footer-text">011111111111</div>
            <div class="footer-text">sustkroybikroy@gmail.com</div>
          </div>


          <div class="footer-grid">
            <div class="title">Account</div>
            <div class="footer-text">Sign in</div>
            <div class="footer-text">Create account</div>
            <div class="footer-text">Android app</div>
            <div class="footer-text">IOS app</div>
          </div>


          <div class="footer-grid">
            <div class="title"">Information</div>
            <div class="footer-text">About us</div>
            <div class="footer-text">Privacy & terms</div>
            <div class="footer-text">Help center</div>
          </div>

        </div>
        
      </footer>

    </main>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  </body>
</html>
